{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}

<div class="article-details">
<!--    {{ partialCached "article/components/tags" $context $context.RelPermalink }}-->

<!--    {{ if $context.Params.categories }}-->
<!--    <header class="article-category">-->
<!--        {{ range ($context.GetTerms "categories") }}-->
<!--            <a href="{{ $context.RelPermalink }}" {{ with $context.Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>-->
<!--                {{ $context.LinkTitle }}-->
<!--            </a>-->
<!--        {{ end }}-->
<!--    </header>-->
<!--    {{ end }}-->

    <div class="article-title-wrapper">
        <h2 class="article-title">
            {{- if ne .Scope "homepage" -}}
                {{- $context.Title -}}
            {{- else -}}
                <a href="{{ $context.RelPermalink }}" >
                    {{- $context.Title -}}
                </a>
            {{- end -}}
        </h2>

        {{ with $context.Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := $context.Params.readingTime | default ($context.Site.Params.article.readingTime) }}
    {{ $showDate := and (not $context.Date.IsZero) ($context.Param "ShowDateOnPost" | default false) }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published" datetime='{{ $context.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- $context.Date.Format (or $context.Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" $context.ReadingTime }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ if $context.IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range $context.Translations }}
                    <a href="{{ $context.Permalink }}" class="link">{{ $context.Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
